body {
    font-family: Arial;
    background-color: #1a1a1a;
    color: #929292;
    overflow: auto;
    /*right: 10%;*/
    /*margin-right:20%; */
}

body>* {
    left: 10%;
    margin-left: 1%;
}

.title-wraper {
    top: 10%;
    margin-top: 2%;
    padding: 5px;
}

#ide-title {
    margin: 2px;
    padding: 1px;
}

.menu-option {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: large;
}


/*hide ejs elemts*/
.hidden{
    z-index: -5;
    display: none;
}
/* drop-down option */

#language,
#layout,
#theme,
#fontSize,
#tabSize {
    margin-left: 10px;
}

.layout-lable,
.theme-select,
.tab-select,
.font-select {
    margin-left: 30px;
}

 ::-webkit-scrollbar {
    width: 8spx;
    border-color: #1a1a1a;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: white;
    transition-duration: .3s;
}

option,
select,
button {
    background-color: #0a0a0a;
    border: 1px;
    color: gray;
}


select:hover {
    background-color: #3a3a3a;
    border: 1px;
    color: white;
}
/* buttons and controls  */

.text-button {
    cursor: pointer;
}

.control-options {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-top: 20px;
}

.control-options>* {
    margin-right: 30px;
}

#input {
    background-color: #2a2a2a;
    display: none;
    color: #929292;
    width: 70vw;
    height: 15vh;
    border-color: blanchedalmond;
    border-radius: 0;
    margin-top: 20px;
    outline-color: white;
    resize: vertical;
}

button {
    padding: 2px 20px;
    background-color: #0a0a0a;
    font-weight: bold;
    border: 3px;
    color: gray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color: #fff;

}

button:hover {
    background-color: #3a3a3a;
    color: white;
    border-color: black;
    cursor: pointer;
}

#input,
#output {
    color: #a1a1a1;
    width: 60vw;
    height: 20vh;
    padding: 10px;
    overflow: auto;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    margin-top: 20px;
    font-size: x-large;
}

#input {
    border: 0px 0px 1px 1px;
    background-color: #0a0a0a;
}

#filename {
    background-color: #1a1a1a;
    color: #929292;
    font-size: large;
    border-width: 0px 0px 1px 0px;
    outline: none;
    width: 150px;
}

 ::selection {
    background-color: black;
}

select::-ms-expand {
    display: none;
}

select {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.1em 2em 0.1em 0.5em;
    /* border: 1px solid #eee; */
    font: inherit;
    /* line-height: inherit; */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
}

.text-button {
    width: 200px;
    padding-left: 20px;
    font-family: monospace;
    font-size: 18px;
}
.CodeMirror{
    padding-left: -10px;
}
.cputime-wraper,
.memory-wraper,
.status-wraper{
    padding-left: 30px;
}
#cpuTime,#memory, #statusCode{
    width: 150px;
}

/* footer :start */

.footer {
    /* align-items: center;
    justify-content: center; */
    /*position: fixed;*/
    margin-left: -10px;
    padding: 30px;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    /* height: 100px; */
    background-color: #1f1f1f;
    color: #fff;
    font-size: small;

    /* opacity: .9; */
}

.footer>div {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.social-icon {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    user-select: none;
}

.icon {
    user-select: none;
    justify-self: center;
    vertical-align: middle;
    height: 40px;
    width: auto;
}

.express, .nodejs{
    height: 70px;
}

.alink{
    text-decoration: none;
    color:white;
    font-weight: bold;
    /*font-size: medium;*/
}
/* footer end */
